a {
  text-decoration: none !important;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: #fffbed;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  margin: 20px;
  border-radius: 5px;
  a {
    text-decoration: none;
  }
}

.card-product img {
  height: 100%;
  width: 108px;
  object-fit: cover;

}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #395B64;
  &:hover {
    text-decoration: underline;
  }
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  text-decoration: none;
  color: #395B64;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

}

#my-vm-db {
 width: 50%;
}

.db-card-content {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;

}

.crud-btns-db {
  display: flex;
  flex-direction: column;
}
