.left-text-intro {
  padding: 100px 50px;
  width: 30%;
  display: grid;
  position: absolute;
  left: 8%;
  color: white;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    opacity: 0.8;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

.background-holder {
  background-color: #f8837b;
  height: 650px;
  position: relative;
  display: flex;

}


.background-image {
  position: absolute;
  right: 10%;
  top: 5%;
}

body {
  background-color: #fffbed;
}

.bottom-link-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

}



svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}
