.left-text-intro {
  padding: 100px 50px;
  width: 30%;
  display: grid;
  position: absolute;

  left: 8%;
  color: white;
  h1 {
    font-size: 50px;
    font-weight: bold;
  }
  p {
    font-size: 20px;
    opacity: 0.8;
  }
  a {
    text-decoration: underline;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}
.background-holder {
  background-color: #f8837b;
  height: 666px;
  position: relative;
  display: flex;

}
.background-image {
  position: absolute;
  right: 10%;
  top: 5%;
}
body {
  background-color: #fffbed;
}
.bottom-link-intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}
.about-us {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 68px;
    color: white;
  }
  h2 {
    color: white;
  }
  p {
    text-align: center;
    color: white;
    opacity: 0.7;
  }
  background-color: #212529;
}
.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  padding: 30px;

}
.service-card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    height: 160px;
    margin-bottom: 30px;
  }
}

.intro-refiller {
  background-color: #f8837b;
  height: 400px;
  padding: 35px;
  h1 {
    font-size: 56px;
    color: white;
    text-align: center;
  }
  p {
    color: white;
    text-align: center;
  }
}
.join {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-wut {
  height: 400px;
}

.intro-refiller h3 {
  color: white;
  text-align: center;
}

.intro-refiller {
 align-items: center;
 height: 80vh;
 background: linear-gradient(0deg, rgba(249,131,123,1) 0%, rgba(33,37,41,1) 100%);
 display: flex;
 flex-direction: column;
 justify-content: center;
}

