.vm-listing {
   width: 96%;
   box-shadow: 0 0 15px rgba(0,0,0,0.2);
   margin: 15px;
   border-radius: 5px;
}

.all-vm {
    width: 53%;
}

.all-vm h1 {
    text-align: center;
    margin-bottom: 20px;
} 

.all-vm p {
    color: black;
    text-decoration: none;
}
