<%# <div class="banner-index">
    <h1> My Auto-mate dashboard </h1>
</div> %>

<ul>
  <div style="height: 400px">

      <% @vending_machines.each do |vending_machine|%>
        <li>
          <%= link_to vending_machine.name, vending_machine_path(vending_machine) %>
        </li>
      <%end %>
  </div>
</ul>
